/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    display: flex;
    background-color: rgb(43, 168, 18);
}

li {
    width: 180px;
    float: left;
    font-weight: bold;
    border-right: 2px solid rgb(255, 255, 255);
} */


/* li a:hover:not(.active) {
    background-color: red;
    color: white;
} */

.active {
    background-color: #0f570d;
}